{% extends 'base.html' %}
{% block body  %}
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-8 offset-2">
            <h3 class="border-bottom" style="font-family: cursive; color: chocolate">
                Add a To-Do
            </h3>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Todo Title </label>
                    <input type="text" class="form-control"  name="title" id="title" aria-describedby="emailHelp" />
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Todo Description</label>
                    <input type="text" class="form-control" name="desc" id="desc" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h3 class="border-bottom" style="font-family: cursive; color: chocolate">
                Your To-Do
            </h3>

            {% if alltodo|length == 0 %}
            <div class="alert alert-danger" role="alert">
                No Record found Add your TODO Now!!
            </div>

            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sno</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in alltodo %}

                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{todo.title}}</td>
                        <td>{{todo.desc}}</td>
                        <td>{{todo.date_created}}</td>

                        <td>
                            <a href="/edit/{{todo.sno}}" type="button" class="btn btn-outline-warning">Edit</a>
                            <a href="/delete/{{todo.sno}}" type="button" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>

            {% endif %}
        </div>
    </div>
</div>

    
{% endblock body  %}

